.editVideoContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coverPhotoContainer{
    flex: 1;
}

.coverPhotoHeader,
.trimVideoHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4px;
}
.coverPhotoHeader p,
.trimVideoHeader p{
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}
.coverPhotoHeaderBtn{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--btn-color);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.coverPhotoHeaderBtn:hover{
    color: var(--font-color);
}
.trimVideoContainer{
    flex: 1;
}

.adjustAudioContainer{
    flex: 1;
}