.sharePostModalContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sharePostModalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    width: 100%;
    background-color: var(--hover-color-2);
    border-radius:15px 15px 0px 0px ;
}
.sharePostModalHeader svg{
    font-size: var(--font-size-xxxlarge);
    margin-left: 12px;
    cursor: pointer;
}
.sharePostBtn{
    border: none;
    outline: none;
    background: transparent;
    color: var(--btn-color);
    cursor: pointer;
    margin-right: 5px;
}
.sharePostBtn:hover{
    color: var(--font-color);
}
.sharePostContentContainer{
    height: 92%;
    display: flex;
}

.sharePostContent{
    flex: 1.4;
    background-color: var(--hover-color-2);
    border-top: var(--divider-border);
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: var(--divider-border-1);
}

.sharePostCarouselContainer{
    height: 100%;
    width: 100%;
    flex:2;
}
.sharePostProfile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 15px;

}

.sharePostProfile p{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
}

.sharePostProfile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.sharePostCaption textarea{
    border: none;
    outline: none;
    margin: 0px 15px;
    width: 90%;
    height: 150px;
    background-color: transparent;
    color: var(--font-color);
    resize: none;
    overflow-y: scroll;
}
.sharePostCaptionEmojiAndNo{
    display: flex;
    align-items: center;
    padding: 0px 15px;
    justify-content: space-between;
    color: var(--secondary-font-color);
}


.sharePostCaptionEmojiAndNo>p{
    font-size: var(--font-size-small);
}
.sharePostCaptionEmojiAndNo svg{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xlarge);
    cursor: pointer;
}

.sharePostSettings{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 15px;
}

.sharePostLocation,
.sharePostAccessibility,
.sharePostAdvancedSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sharePostAccessibilityHeader >p,
.sharePostAdvancedSettingsHeader >p{
   font-size: var(--font-size-large);
   font-weight: var(--font-weight-bold);
}

.sharePostLocation input::placeholder{
   font-size: var(--font-size-large);
}
.sharePostAdvancedSettingsHeader,
.sharePostAccessibilityHeader{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.sharePostAdvancedSettings,
.sharePostAccessibility{
    flex-direction: column;
}
.sharePostSettings>p{
    font-size: var(--font-size-xsmall);
    color: var(--secondary-font-color);
}
.sharePostLocation{
    cursor: none;
    position: relative;
}

.sharePostLocation svg{
    position: absolute;
    right: 0px;
    cursor: pointer;
    z-index: 999;
}

.sharePostLocation input{
    width: 100%;
    background-color: transparent;
    color: var(--font-color);
    outline: none;
    border: none;
    margin: 0px;
    padding: 15px 0px;
}