.followOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay);
}
.followOverlay p {
  margin: 0px;
}

.followModalContainer {
  position: absolute;
  height: auto;
  max-height: 400px;
  overflow: scroll;
  width: 400px;
  z-index: 9999;
  border-radius: 10px;
  background-color: var(--modal-color);
  display: flex;
  flex-direction: column;
}

.followModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: var(--divider-border-1);
}
.followModalHeader p {
  font-weight: var(--font-weight-bold);
}
.followModalFollow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.followModalFollowContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.followModalFollowContent img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.followModalContentActiveStory img {
  padding: 4px;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 0, 0, 0.751);
}
.followModalFollowContentUsername {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}
.followModalFollowContentName {
  font-size: var(--font-size-medium);
  color: var(--secondary-font-color);
}
.followModalFollowBtn {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--btn-color);
  color: var(--font-color);
}
.followModalFollowingBtn {
  background-color: var(--hover-color-2);
}
.followModalFollowBtn:hover {
  background-color: var(--btn-hover-color);
  color: var(--font-color);
}

.followModalFollowingBtn:hover {
  background-color: var(--modal-color-3);
  cursor: unset;
}
