.interactions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.interactions p{
    font-size: var(--font-size-medium);
}
.interactionsIcons{
    display: flex;
    justify-content:space-between ;
}

.interactionsIcons svg{
    font-size: var(--font-size-xxlarge);
    cursor: pointer;
}
.interactionsIcons svg:hover{
    color: var(--secondary-font-color);
}
.interactionsIconsReact{
    display: flex;
    gap: 21px;
}

.likedPostIcon{
    color:rgb(255, 48, 64)
}