.accountPostsTabs{
    display: flex;
    align-items: center;
    gap: 6%;
    justify-content: center;
    width: 1;
    border-top: var(--divider-border);
}
.accountPostsTab{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
    font-size: var(--font-size-small);
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    color: var(--secondary-font-color);
    font-weight: var(--font-weight-bold);
}

.accountPostsTab svg{
    font-size: var(--font-size-large);
}

.accountPostsTabs > .accountPostsTab:first-child > svg {
    font-size: var(--font-size-xsmall) !important;
}

.accountPostsActiveTab{
    border-top: 1px solid var(--font-color);
    color:var(--font-color);
}
