.accountHighlightsContainer {
  padding: 0% 0%;
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
  display: flex;
  align-items: center;
}

.accountHighlights {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 6%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.accountHighlightCover {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: var(--profile-highlight-padding);
  border: 1px solid var(--story-viewed-color);
  cursor: pointer;
}
.accountStory {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: var(--profile-highlight-padding);
  border: 1px solid var(--story-viewed-color);
  cursor: pointer;
}

.accountHighlightArrows {
  position: absolute;
}

.accountHighlightArrows svg {
  background-color: var(--arrow-bg-color);
  border-radius: 50%;
  padding: 2px;
  font-size: 15px;
  opacity: 0.7;
  color: var(--primary-color);
  cursor: pointer;
}

.accountHighlight {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-medium);
}
.accountCreateStory {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-medium);
}
.accountCreateStory p {
  margin: 0px;
}
.accountCreateStoryLabel {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: var(--profile-highlight-padding);
  border: 1px solid var(--story-viewed-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accountCreateStoryLabel svg {
  font-size: var(--font-size-xlarge);
}
.accountCreateStory input {
  display: none;
}
.accountHighlight p {
  margin: 0px;
}

.accountCreateHighlight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accountCreateHighlightBtn {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: 1px solid var(--story-viewed-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.accountCreateHighlightBtn svg {
  font-size: var(--font-size-xlarge);
  color: var(--font-color);
}
.accountCreateHighlight p {
  margin: 0px;
  font-size: var(--font-size-medium);
}
