.accountHeaderContainer{
    display: flex;
    font-size: 12px;
    gap: 50px;
    align-items: center;
    padding: 0px 7%;
}

.accountHeaderContainer p{
    margin: 0px;
}

.accountHeaderImageContainer{
    flex: 1;
}

.accountHeaderImageContainer img{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    padding: var(--profile-story-padding);
    border: 1px solid var(--story-viewed-color);
}

.accountHeaderContent{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.accountHeaderContentTitle{
    display: flex;
    align-items: center;
    gap:8px;
}
.accountHeaderContentTitle svg{
    font-size: 18px;
    cursor: pointer;
}
.accountHeaderContentSimilarAccountsBtn svg{
    background-color: var(--btn-bg-color) ; 
    padding: 6px;
    font-size: 15px;
    color: var(--font-color);
    border-radius: 7px;
    transition: background-color 0.3s ease; 
}

.accountHeaderContentUsername{
    font-size: 18px;
    margin-right:10px !important ;
}

.accountHeaderContentBtn{
    display: flex;
    align-items: center;
    background-color: var(--btn-bg-color); 
    color: var(--font-color);
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.accountHeaderContentBtn:hover,
.accountHeaderContentSimilarAccountsBtn svg:hover{
    background-color: var(--hover-color-2); 
}
.accountHeaderContentAnalytics{
    display: flex;
    align-items: center;
    gap: 30px;
}



.accountHeaderContentAnalyticsBox{
    display: flex;
    gap: 3px;
    font-size: 14px;
}
.accountHeaderContentAnalyticsBox p:first-child{
    font-weight: var(--font-weight-bold);
}
.accountHeaderContentDescription{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.accountHeaderContentDescriptionName{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}
.accountHeaderContentDescriptionThreads{
    display: flex;
    background-color: var(--btn-bg-color);
    width: 100px;
    gap: 5px;
    margin-bottom: 7px;
    margin-top: 2px;
    font-size: var(--font-size-small);
    padding: 5px;
    border-radius: 10px;
}
.accountHeaderContentDescriptionInfo{
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    gap: 3px;
}
.accountHeaderContentDescriptionThreads svg{
    font-size: var(--font-size-medium);
}

.accountHeaderLink{
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}