.reelsPageContainer {
  flex: 6;
  border-left: var(--divider-border);
  overflow-y: scroll;
  padding: 30px 0px;
}

.reelsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
}

.reelCardWrapper {
  width: 370px;
  height: 680px;
}

@media screen and (max-width: 768px) {
  .reelCardWrapper {
    height: 93vh;
  }
  .reelsPageContainer {
    padding: 0px;
  }
}
