.chatDetailsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chatDetailsContainer p{
    margin: 0px;
}

.chatDetailsHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1.7;
    justify-content: center;
    gap: 40px;
    padding: 20px 15px ;
    box-sizing: border-box;
}

.chatDetailsHeaderTitle{
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
}
.chatDetailsHeaderMuteContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.chatDetailsHeaderMuteContainer p{
    font-size: var(--font-size-large);
}

.chatDetailsInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top:var(--divider-border) ;
    border-bottom:var(--divider-border) ;
    flex: 6;
    padding: 15px ;
    box-sizing: border-box;
}
.chatDetailsMembers{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.chatDetailMemberWrapper{
    text-decoration: none;
    color: var(--font-color);
}
.chatDetailsbtns{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 20px;
    padding: 15px ;
    box-sizing: border-box;
    justify-content: center;
}

.chatDetailsbtns button{
    background-color: transparent;
    text-align: start;
    color: var(--warning-color);
    border: none;
    cursor: pointer;
    font-size: var(--font-size-large);
}