.home{
    flex: 6;
    overflow: scroll;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    margin: 0px;
    border-left:var(--divider-border) ;
}

.homeFeed{
    display: flex;
    flex-direction: column;
}