.homeFooterContainer{
    display: flex;
    flex-direction: column;
    color: var(--footer-color);
    margin-top: 10%;
    gap: 20px;
}

.homeFooterContainer p{
    color: var(--footer-color);
    font-size: var(--font-size-small);
}
.homeFooterContent{
    width: 100%;
}

.homeFooterLinkBox{
    display: inline-flex;
    align-items: center;
    margin: 1px 1px;
}

.homeFooterLinkBox p{
    margin: 0px;
}

.homeFooterLink{
    text-decoration: none;
    color: var(--footer-color);
    font-size: var(--font-size-small);
}