.homeSuggestionCard{
    display: flex;
    align-items: center;
    gap: 15px;
}

.homeSuggestionCardImg img{
    width: 60px;
    height: 60px;
    border-radius: 50%
}
.homeSuggestionCardContent{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.homeSuggestionCardInfoName{
    margin: 0px;
}
.homeSuggestionCardInfoIsSelf{
    margin: 0px;
    font-size: var(--font-size-large);
    color: var(--secondary-font-color);
}

.homeSuggestionCardInfo{
    font-size: var(--font-size-medium);
    margin: 0px;
    color: var(--secondary-font-color);
}

.homeSuggestionsFollowBtn{
    background-color: transparent;
    border: none;
    color: var(--follow-btn-color);
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: color ease 0.3s;
    margin-left: auto; /* Push the button to the end */

}

.homeSuggestionsFollowBtn:hover{
    color:var(--font-color);
    align-self: center;
}
