.sidebar{
    flex:1;
    padding: 20px 1%;
    padding-bottom: 0px;
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0px;
    border-right: var(--divider-border);
}

.sidebarHideName{
    flex: .1;
    border: none;
}

.sidebar h3:first-child{
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 7%;
    margin-bottom: 0%;
    font-size: 28px;
}
.sidebarInstagramIcon{
   margin-top: 7%;
    margin-bottom: 0%;
    font-size: 44px; 
    margin: 7% 0px 0px 10px;
    display: flex;
    align-items: center;
}
.sidebar a{
    text-decoration: none;
    color: var(--font-color);
}

.sidebarTabs{
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* gap: 10px; */
}
.sidebarTab{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 0px 3%;
    border-radius: 10px ;
    transition: background-color 0.3s ease; 
    height: 70px;
    width: 100%;
}

.sidebarTab:hover{
    background-color:var(--hover-color-1); 
}
.sidebar img{
    height: 40px;
    width: 40px;
}
.sidebarTab p{
    font-family: 'Inter';
    /* font-size: var(--font-size-xlarge); */
    font-size: 16px;
}

.sidebarTab svg{
    /* font-size: var(--font-size-xxlarge); */
    font-size: 25px;
}

.sidebarExtraTabs{
    margin-bottom: 30px;
}

.hideSidebarTab{
    width: 60px;
    /* align-items: center; */
}

.hideSidebarTab svg{
    width: 100%;
}
